*{
	transition-duration:0s;
}
/* exportaçaõ da font pop */
@import url("https://fonts.googleapis.com/css?family=Anton");
/* Para as margens serem expensas */
::-moz-selection { /* Code for Firefox */
    background: rgba(50, 190, 255,0.7)
}

::selection {
    background: rgba(50, 190, 255,0.7)
}
body,html{
	border:0px;
	padding:0px;
	box-sizing:border-box;
	margin:0px;
	width:100%;
	height:auto;
	text-align:center;
	background-color:#222
}
body{
	background-color:#fff
}
#top{/* Este é o box do fundo entende? tem dois, um causa apenas a coloração do outro */
	position:relative;
	height:40em;
	width:100%;
	margin-left:0;
	margin-right:0;
	margin-top:0;
	background-size:cover;
	background-position:bottom;
	background-attachment:fixed;
	display:table;
	z-index:0;
}#to{/* Imagem para carregar antes, e dar um efeito de carregada */
	position:absolute;
	height:100%;
	width:100%;
	left:0;
	right:0;
	top:0;
	background:rgba(86,86,104,.4);
	background-image:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAIAAAACAQMAAABIeJ9nAAAABlBMVEUAAAAAAAClZ7nPAAAAAXRSTlMz/za5cAAAAAxJREFUCNdjaGBgAAABhACBKN161wAAAABJRU5ErkJggg==);
	display:table;
	z-index:1;
}
main * {
	color: #444 !important;
}
#top h1{
	z-index:3;
  -moz-display: table-cell;
	-webkit-display: table-cell;
	-o-display: table-cell;
	-ms-display: table-cell;
	display: table-cell;
  text-align: center;
  vertical-align: middle;
	-moz-vertical-align: middle;
	-webkit-vertical-align: middle;
	-o-vertical-align: middle;
	-ms-vertical-align: middle;
	color:#fff;
	text-shadow:0px 0px 10px #000;
	font-weight:lighter;
	opacity:.9;
	-webkit-animation-name:totop;
	        animation-name:totop;/* esta animação é responsável pela animação já criada no texto.css */
	-webkit-animation-duration:3s;
	        animation-duration:3s;
	cursor:pointer
}
.default{
	background-image:none
}.dev{
	background-image:url('../assets/dev.jpeg');
	background-position:top;
}.pop{
	background-image:url('../assets/pop-grat.jpeg');
}.pop-t{
	opacity:1;
	font-family:'Anton';
	font-weight:bold;
	font-size:80px;
	color:#4de;
	text-shadow:5px 0px 0px #ff0;
	border:5px dashed #0ff;
	background:rgba(0,0,0,0.5);
}
.log{
	transition-duration: 0.8s;
	cursor: pointer;
}

section{
	text-align:center;
	max-width:90%;
	min-width:60%;
	margin:0 auto
}
ul{
	padding-left:0px
}
#conteudo{
	display: inline-table
}
h1>img{
	height:40px
}
h2>img{
	height:20px
}
p>img{
	height:20px
}
address>img{
	height:20px
}
main{
	padding:0;
	display:inline-table;
}
.main{
	background-size:cover;
	background-position:bottom;
	background-attachment:fixed;
}
.bg{
	background-size:cover;
	background-position:bottom;
	background-attachment:fixed;
	padding:0;
	display:inline-table;
}
.cbranco>*{
	color:#fff;
}
.cpreto>*{
	color:#222;
}
footer{
	text-align:center;
	padding-top:10px;
	color:#333;
	margin-bottom:0px;
	z-index:0;
	width:100%;
	padding-bottom:8px;
}
.bpreto{
	color:#fff;
	background:#222;
}
.top6{
	margin-top:60px;
}
.separador-top{
	border-top:4px solid #ddd;
}


.left{
	position:static;
	margin:0px;
	width:50%;
	display:inline;
	float:left;
}
.right{
	position:static;
	margin:0px;
	width:35%;
	display:inline-block;
	float:right;
}
.simbolo::before{
	font-size: 50px;
	/*border-radius: 50px;*/
	padding:20px 30px;
	/*background:#4de;*/
	position:relative;
	display:block
}
.justify{
	text-align:justify
}.tleft{
	text-align:left
}.tright{
	text-align:right
}.tcenter{
	text-align:center;max-width:900px; margin:auto
}
.botao>img,.botao>svg{
	width:128px;
	height:128px;
	border-radius:128px;
	opacity:0.8;
	transition-duration:0.6s;
  margin-top:5%;
}
.botao>img:hover,.botao>svg:hover{
	opacity:1;
	transition-duration:0.6s
}
.down{/* configura a seta para baixo */
	cursor:pointer;opacity:0.6;margin-top:40px;width:100px;font-size:10em;
}
.down:hover{
	opacity:1;
	animation:dance 1s infinite
}
.botaol>img,.botaol>svg{
	width:128px;
	height:128px;
	border-radius:128px;
	opacity:0.8;
	transition-duration:0.6s;
	background-color:#fff;
}.botaol>img:hover,.botaol>svg:hover{
	border-radius:08px;
	opacity:1;
	transition-duration:0.6s
}.alinhado{
	padding:50px 0px
}
.compreensao{
	color:#fff;
	background-color:#f0582f;
	/*background-image:url(../assets/point.png)*/
}
.estimulo{
	color:#fff;
	background-color:#F5CE3E;
	/*background-image:url(../assets/point.png)*/
}
.ajusted-left{
	padding-left:10px
}
.formulario{
	width:100%;
	display:block;
}
a#down{
	color:#524745;
	background-color:#fff;
	border-radius:20px 20px 0px 0px ;
	transition-duration:.5s;
	margin:auto;
	position:relative;
	padding:5px 14px;
	position: relative;
	top:-45px;
	z-index:3;
	font-size:40px;
}
a#down:hover{
	border-radius:30px 30px 0px 0px;
}
input, textarea{
	display:block;
	background-color:#fff;
	margin:5px;
	border:none;
	border:4px solid #ddd;
	height:20px;
	width:50%;
	margin-left:auto;
	margin-right:auto;
}textarea{
	height:70px
}
::placeholder {
	color:#555
}
.orange{
	background-color:#874DA1;
	background-position:top;
	background-size:cover
}.blue{
	background-color:#4de
}
.botaor{
	border-color:transparent;
	color:#fff;
	font-weight:bold;
	height:40px;
	width:52%;
	transition-duration:.6s
}.botaor:hover{
	color:#fff
}
nav#all{
	padding:0;
	padding-bottom:20px;
	z-index:1;
	display:inline-block;
	width:100%;
}
nav#all, nav#all>h1, nav#all>p{
	color:#fff;
	border:none;
}
.azul{
	background-color:#2bc
}.azul a{
	color:#333
}
.azulp{
	background-color:#09a
}
.azulpu{
	background-color:#1ab
}
.msg{
	font-size:40px;
	font-weight: bold;
}
#mensagem{
	animation-name: down;
	animation-duration: 1s;
}
@keyframes dance{
	0%{
		transform: translateY(0px)
	}
	50%{
		transform: translateY(4px)
	}100%{
		transform: translateY(0px)
	}
}
@keyframes down{
	0%{
		transform: translateX(40px);
		opacity:0;
	}100%{
		transform: translateX(0px);
		opacity:1
	}
}
@keyframes nwod{
	0%{
		transform: translateX(-40px);
		opacity:0;
	}100%{
		transform: translateX(0px);
		opacity:1
	}
}
@keyframes sair{
	0%{
		transform: translateX(0px)
	}100%{
		transform: translateX(-40px);
		opacity:0
	}
}
@media (max-width:1100px){
	input,textarea{
		width:80%
	}.left{
		display:block;
		margin:auto;
		width:100%;
		position:relative
	}.right{
		display:block;
		margin:auto;
		width:100%;
		position:relative
	}
	.log {
		width:100px;
	}
	.tcenter h1, #all > h1 {
		font-size: 8vw;
		padding: 0 10px;
	}
	#top h1 {
		font-size: 2em;
	}
}
